{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}

<!--    <h1>Index I should see this change with a page refresh</h1>-->
<!--    <p class="important">-->
<!--      Welcome to my awesome homepage.-->
<!--        <img src="{{ url_for('static', filename='images/sample.jpeg') }}">-->
<!--    </p>-->


    <div class="container bg-light">

<br>

    <div class="row">

        <div class="col">
            <div class="card bg-light">

                    <div class="card-body">
                        <h4 class="card-title">Calculator Program</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Made with Object-Oriented Programming</h6>
                        <p class="card-text">
                        To effective program python, we must utilize important tools and know important concepts.
                        </p>

                        <a href="/calculator" class="btn btn-outline-danger">Learn More</a>
                    </div>


                </div>

        </div>
    </div>




        <div class="row">
            <div class="col-md-6">
                <br>
                <div class="card bg-light">

                    <div class="card-body">
                        <h4 class="card-title">Python Tips & Advice</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Pylint & Coverage</h6>
                        <p class="card-text">
                        To effective program python, we must utilize important tools and know important concepts.
                        </p>

                        <a href="/python" class="btn btn-outline-danger">Learn More</a>
                    </div>


                </div>

            </div>

            <div class = "col-md-6">
                <br>
                <div class="card bg-light">

                    <div class="card-body">
                        <h4 class="card-title">AAA Testing</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Arrange - Act - Assert</h6>
                        <p class="card-text">

                            AAA Testing is an effective way of unit testing our programs. It involves arranging,
                            acting, and asserting our code.
                        </p>

                        <a href="/aaa" class="btn btn-outline-danger">Learn More</a>

                    </div>
                </div>
            </div>
            <br>




        </div>


        <div class="row">
            <div class="col-md-6">
                <br>
                <div class="card bg-light">

                    <div class="card-body">
                        <h4 class="card-title">Object Oriented Programming (OOP)</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Encapsulation, Abstraction, Inheritance, Polymorphism
                        </h6>
                        <p class="card-text">
                           Object Oriented Programming is an important programming model that involves encapsulation,
                            abstraction, inheritance, and polymorphism.  </p>

                        <a href="/oop" class="btn btn-outline-danger">Learn More</a>
                    </div>


                </div>

            </div>

            <div class = "col-md-6">
                <br>
                <div class="card bg-light">

                    <div class="card-body">
                        <h4 class="card-title">Calculator Design</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Separation of Concerns</h6>
                        <p class="card-text">
                            Learn how we used separation of concerns in a calculator program, which
                            allows for simplicity and easy maintenance.
                        </p>

                        <a href="/soc" class="btn btn-outline-danger">Learn More</a>

                    </div>
                </div>
            </div>
            <br>




        </div>

<br>

    </div>
{% endblock %}