{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}

<!--    <h1>Index I should see this change with a page refresh</h1>-->
<!--    <p class="important">-->
<!--      Welcome to my awesome homepage.-->
<!--        <img src="{{ url_for('static', filename='images/sample.jpeg') }}">-->
<!--    </p>-->


 <div class="container bg-light">
        <br>
        <h1 class="text-danger">Calculator Program</h1>

        <h3 class = "text-muted"> Separation of Concerns</h3>
        <hr>

        <h4>Introduction</h4>
        <p>
            Separation of Concern is a design pattern for separating a program into different sections. Each separate section would be
            addressing a particular concern. For example, each class only serves a specific purpose. Separation of concerns is achieved
            by encapsulating information and layering designs.
        </p>
        <p>
            Separation of Concerns allow for simplification and easy maintenance. By encapsulating specific information to specific
            objects, we allow for more control of the information. In addition, layering designs often hides the complexity of information beneath and
            provides overall simplicity. Without separation of concerns, one object can have too many functions or purposes. This not only
            makes the object complicated, but it also makes the object hard to change or maintain. Separation of concerns solves this issue because
            we can edit certain parts of the program without it affecting others. This is because most of the program's "concerns" are separated.

        </p>
        <p>We will be taking a look at how a Calculator program implements Separation of Concerns.</p>
            <hr>

        <h4>Calculation Class</h4>


        <p>We created a calculation class that handles all the value inputs for the calculator. By defining the parameters
        for the calculator's inputs in one class, we reuse this class everytime we need to call a function. This also avoids
        complexity because without this class, we would have to write the parameter conditions for each function class.
        This is not only redundant, but it also makes each function class seem more complicated than it needs to be.</p>

        <p>The Calculation class does several things. It allows for factory creation of objects, which is important
        because we want our calculations to be stored as objects later on in our calculator history. It also allows for
        allowing multiple inputs, instead of a defined number of inputs. Lastly, it converts the inputs to the float data type, so
        when we use the calculation class in our function classes, all the data has the same data type.</p>

        <a href="https://github.com/k3vinhu4ng/IS218calculator/blob/9892b27b068cbdad00d8fc0e8e6b6f6efc522c45/calculator/calculations/calculation.py#L4-L22"
           target="_blank" class="btn btn-outline-danger">View Code</a>

        <hr>
        <h4>Functions Class</h4>


        <p>We created function classes for each of the calculator's operations. This involves a class for
        addition, subtraction, multiplication, and division. By having separate classes for these functions, it
        makes the coding a lot simpler. For example, in the history class, each function can just be called from the class.
        In addition with the calculation class, the functions class hides a lot of complexity that makes the code simpler
        and easier to manage.</p>

        <a href="https://github.com/k3vinhu4ng/IS218calculator/blob/9892b27b068cbdad00d8fc0e8e6b6f6efc522c45/calculator/calculations/addition.py#L5-L12"
           target="_blank" class="btn btn-outline-danger">View Code</a>


        <hr>
        <h4>History Class</h4>
        <p>The history class allows us to store the history of the calculations in a list. This class also
        allows to add calculations, clear history, and even return the number of calculations in the history. There are also
        other useful functions, such as finding out the value or object type of a certain calculation within the history.</p>

        <p>The history class uses the function classes from before, and the function classes uses the calculation class. However,
        the history class does not show the complexity of the classes it is using. This is because we are using separation of concerns.
        Without separation of concerns, we would not have separated the functions into each specific class. This would make the history class
        overwhelming and hard to manage. Because we have many classes that layer on top of each other, the history class is relatively simple to manage
        because it hides and separates other functions, such as the calculation algorithm or the code that involves converting data types and
        creating factory objects.</p>

        <a href="https://github.com/k3vinhu4ng/IS218calculator/blob/9892b27b068cbdad00d8fc0e8e6b6f6efc522c45/calculator/history/calculations.py#L8-L89"
           target="_blank" class="btn btn-outline-danger">View Code</a>


        <hr>
        <h4>Calculator Class</h4>

        <p>Lastly, we have a calculator class, which uses the history class. The calculator is the final product that is going be used
        to implement all the functions written before it. The calculator class will automatically add calculations to a calculator history, while
        also having other functions such as showering calculation history size, and clearing history. </p>

        <p>Because we used separation of concerns, the final calculator class will appear very simple. For example, take a look at this code.</p>
        <div class="card w-75">
            <div class="card-body text-danger">
                <code>Calculator.add_number(5,4)</code>
            </div>
        </div>
        <br>

        <p>This is the final result from separation of concerns. We have a simple class and function. However, behind this
        simple line of code, we have all the other classes involved. The calculation class converts data and creates an object.
        The function class gets the result. The history class adds to the history. Separation of concerns allows for
        a simple end product. In addition, it allows for easier maintenance of code because each separate class is only concerned
        with a specific function.</p>
        <a href="https://github.com/k3vinhu4ng/IS218calculator/blob/9892b27b068cbdad00d8fc0e8e6b6f6efc522c45/calculator/calculator.py#L9-L68"
           target="_blank" class="btn btn-outline-danger">View Code</a>




        <br><br>
    </div>



{% endblock %}